<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rfidapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RFIDapp">
        <activity
            android:name=".cliente.ListclientActivity"
            android:exported="true" />
        <activity
            android:name=".cliente.CadclientActivity"
            android:exported="true" />
        <activity
            android:name=".produto.ListproductActivity"
            android:exported="true" />
        <activity
            android:name=".produto.CadproductActivity"
            android:exported="true" />
        <activity
            android:name=".fornecedor.ListproviderActivity"
            android:exported="true" />
        <activity
            android:name=".fornecedor.CadproviderActivity"
            android:exported="true" />
        <activity
            android:name=".categoria.ListcategoryActivity"
            android:exported="true" />
        <activity
            android:name=".categoria.CadcategoryActivity"
            android:exported="true" />
        <activity
            android:name=".venda.SellActivity"
            android:exported="true" />
        <activity
            android:name=".LogoutActivity"
            android:exported="true" />
        <activity
            android:name=".configuracao.SettingsActivity"
            android:exported="true" />
        <activity
            android:name=".busca.SearchActivity"
            android:exported="true" />
        <activity
            android:name=".carteira.WalletActivity"
            android:exported="true" />
        <activity
            android:name=".compra.BuyActivity"
            android:exported="true" />
        <activity
            android:name=".fornecedor.ProviderActivity"
            android:exported="true" />
        <activity
            android:name=".cliente.ClientActivity"
            android:exported="true" />
        <activity
            android:name=".produto.ProductActivity"
            android:exported="true" />
        <activity
            android:name=".categoria.CategorieActivity2"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>